@import "tailwindcss";

body{
    background-color: #EFF2F6;
}

.lora-regular {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Example weight */
    font-style: normal;
  }
  
  .lora-bold {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Example weight for bold */
    font-style: normal;
  }
  